In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('athlete_events.csv')

In [3]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [5]:
data.shape

(271116, 15)

In [6]:
data.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [7]:
data.sort_values('Age', inplace=True, ascending=False)

In [8]:
data.sort_values('City', inplace=True, ascending=False)

In [9]:
data.sort_values('Event', inplace=True, ascending=False)

In [10]:
data.sort_values('Games', inplace=True, ascending=False)

In [11]:
data.sort_values('Height', inplace=True, ascending=False)

In [12]:
data.sort_values('ID', inplace=True, ascending=False)

In [13]:
data.sort_values('Name', inplace=True, ascending=False)

In [14]:
data.sort_values('Season', inplace=True, ascending=False)

In [15]:
data.sort_values('Sex', inplace=True, ascending=False)

In [16]:
data.sort_values('Sport', inplace=True, ascending=False)

In [17]:
data.sort_values('Team', inplace=True, ascending=False)

In [18]:
data.sort_values('Weight', inplace=True, ascending=False)

In [19]:
data.sort_values('Year', inplace=True, ascending=False)

In [20]:
data.sort_values('Medal', inplace=True, ascending=False)

In [21]:
data.sort_values('NOC', inplace=True, ascending=False)

In [22]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
166805,83794,Fedistas Muzongondi,F,30.0,167.0,53.0,Zimbabwe,ZIM,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
44496,22946,Lynette Cooper,F,16.0,151.0,57.0,Zimbabwe,ZIM,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 100 metres Backstroke,NaN
134169,67549,Ivor Craig Le Roux,M,16.0,NaN,NaN,Zimbabwe,ZIM,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Men's 200 metres Freestyle,NaN
154314,77476,Sally Ann McDonald,F,29.0,NaN,NaN,Zimbabwe,ZIM,1992 Summer,1992,Summer,Barcelona,Tennis,Tennis Women's Doubles,NaN
162534,81607,Storme Cheryl Moodie,F,18.0,NaN,NaN,Zimbabwe,ZIM,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 200 metres Backstroke,NaN

In [23]:
data.loc[:, 'Age' ].mean()

25.556898357297374

In [24]:
data.loc[:, "Height"].mean()

175.33896987366376

In [25]:
data.sum

<bound method DataFrame.sum of             ID                             Name Sex   Age  Height  Weight  \
166805   83794              Fedistas Muzongondi   F  30.0   167.0    53.0
44496    22946                   Lynette Cooper   F  16.0   151.0    57.0
134169   67549               Ivor Craig Le Roux   M  16.0     NaN     NaN
154314   77476               Sally Ann McDonald   F  29.0     NaN     NaN
162534   81607             Storme Cheryl Moodie   F  18.0     NaN     NaN
162533   81607             Storme Cheryl Moodie   F  18.0     NaN     NaN
169815   85356                    Rudo Neshamba   F  24.0   164.0    53.0
245268  122814             William Homan Turpin   M  32.0   185.0    79.0
174110   87477                Cuthbert Nyasango   M  25.0   163.0    56.0
147238   73903                    Sheila Makoto   F  26.0   158.0    59.0
63412    32503                 Msipa Emmaculate   F  24.0   168.0    59.0
154507   77570          Rhoderick "Rory" McGown   M  19.0     NaN     NaN
22759    11973    Cara Cavell Black (-Stephens)   F  29.0   167.0    55.0
152043   76311                 Julius Masvanise   M  30.0   179.0    65.0
166350   83547                Sarah Jane Murphy   F  16.0     NaN     NaN
152044   76311                 Julius Masvanise   M  30.0   179.0    65.0
223838  112431             Vaughan Andren Smith   M  19.0   185.0    87.0
227488  114292  Susanne Chandler Standish-White   F  35.0     NaN     NaN
95943    48565            Deborah "Debbie" Hill   F  20.0   170.0    75.0
262763  131478            Jennifer "Jenny" Wood   F  16.0   172.0    64.0
134168   67549               Ivor Craig Le Roux   M  16.0     NaN     NaN
134167   67549               Ivor Craig Le Roux   M  16.0     NaN     NaN
154505   77570          Rhoderick "Rory" McGown   M  19.0     NaN     NaN
260715  130453    Antonette Wilken (-Batchelor)   F  23.0   162.0    49.0
90896    46049     Philemon Harineki (-Hanneck)   M  21.0   170.0    59.0
34168    17599                  Jason Cambitzis   M  17.0   185.0   106.0
154506   77570          Rhoderick "Rory" McGown   M  19.0     NaN     NaN
79121    40177             Margaret Ruth Gibson   F  31.0     NaN     NaN
59079    30249                       Gaily Dube   F  19.0   163.0    57.0
261574  130880              Peter Arthur Wilson   M  20.0   185.0    80.0
...        ...                              ...  ..   ...     ...     ...
172810   86829                  Nour Ullah Noor   M  20.0     NaN     NaN
217793  109397            Saadat Malook Shazada   M  19.0     NaN     NaN
217295  109153               Shakar Khan Shakar   M  31.0     NaN    74.0
116793   59102               Amir Jan Khalunder   M  35.0   166.0    66.0
1992      1101             Mohammad Anwar Afzal   M   NaN     NaN     NaN
235028  117860                Abdul Hamid Tajik   M   NaN     NaN     NaN
257089  128736               Abdul Hakim Wardak   M  20.0   179.0    75.0
211855  106372               Habib Zareef Sayed   M  23.0   170.0    58.0
266399  133277                    Kamia Yousufi   F  20.0   165.0    55.0
195908   98371             Bashir Ahmad Rahmati   M  19.0     NaN     NaN
173930   87377             Noor Ullah Nuristani   M   NaN     NaN     NaN
232004  116397                Basharmal Sultani   M  19.0   170.0    69.0
12534     6819               Nesar Ahmad Bahawi   M  24.0   186.0    68.0
161282   80938                  Esmail Mohammad   M  19.0   160.0    54.0
242306  121376         Khan Nasrullah Totakhail   M   NaN     NaN     NaN
115193   58364          Mohammad Ibrahim Kederi   M  20.0   166.0    62.0
231444  116125             Nizam-ud-din Subhani   M  34.0   168.0   111.0
264047  132125                Robina Muqim Yaar   F  22.0   180.0    56.0
56324    28855                       Ahmad Djan   M  20.0   165.0    52.0
49456    25471                  Ghulam Dastagir   M  23.0   180.0    87.0
173927   87374          Mohammad Amin Nuristani   M   NaN     NaN     NaN
88714    44977                Mohammad Halilula   M  28.0   163.0    57.0
197782   99310                 Mohammad Razigul   M   NaN     NaN     NaN
57849    29626             Sultan Mohammad Dost   M  28.0   168.0    73.0
168386   84618                      Ahmad Nasir   M   NaN     NaN     NaN
217294  109153               Shakar Khan Shakar   M  24.0     NaN    74.0
61067    31285                Mohammad Ebrahimi   M  30.0   160.0    63.0
173929   87376         Mohammad Kadir Nuristani   M   NaN     NaN     NaN
173928   87375         Mohammad Jahan Nuristani   M   NaN     NaN     NaN
11629     6336                     Masoud Azizi   M  27.0   168.0    64.0

               Team  NOC        Games  Year  Season            City  \
166805     Zimbabwe  ZIM  2016 Summer  2016  Summer  Rio de Janeiro
44496      Zimbabwe  ZIM  1960 Summer  1960  Summer            Roma
134169     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
154314     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
162534     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
162533     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
169815     Zimbabwe  ZIM  2016 Summer  2016  Summer  Rio de Janeiro
245268     Zimbabwe  ZIM  1964 Summer  1964  Summer           Tokyo
174110     Zimbabwe  ZIM  2008 Summer  2008  Summer         Beijing
147238     Zimbabwe  ZIM  2016 Summer  2016  Summer  Rio de Janeiro
63412      Zimbabwe  ZIM  2016 Summer  2016  Summer  Rio de Janeiro
154507     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
22759      Zimbabwe  ZIM  2008 Summer  2008  Summer         Beijing
152043     Zimbabwe  ZIM  1996 Summer  1996  Summer         Atlanta
166350     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
152044     Zimbabwe  ZIM  1996 Summer  1996  Summer         Atlanta
223838     Zimbabwe  ZIM  1988 Summer  1988  Summer           Seoul
227488     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
95943      Zimbabwe  ZIM  1980 Summer  1980  Summer          Moskva
262763     Zimbabwe  ZIM  1964 Summer  1964  Summer           Tokyo
134168     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
134167     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
154505     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
260715     Zimbabwe  ZIM  1984 Summer  1984  Summer     Los Angeles
90896      Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
34168      Zimbabwe  ZIM  1980 Summer  1980  Summer          Moskva
154506     Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
79121      Zimbabwe  ZIM  1992 Summer  1992  Summer       Barcelona
59079      Zimbabwe  ZIM  1988 Summer  1988  Summer           Seoul
261574     Zimbabwe  ZIM  1980 Summer  1980  Summer          Moskva
...             ...  ...          ...   ...     ...             ...
172810  Afghanistan  AFG  1964 Summer  1964  Summer           Tokyo
217793  Afghanistan  AFG  1936 Summer  1936  Summer          Berlin
217295  Afghanistan  AFG  1972 Summer  1972  Summer          Munich
116793  Afghanistan  AFG  1960 Summer  1960  Summer            Roma
1992    Afghanistan  AFG  1948 Summer  1948  Summer          London
235028  Afghanistan  AFG  1948 Summer  1948  Summer          London
257089  Afghanistan  AFG  1960 Summer  1960  Summer            Roma
211855  Afghanistan  AFG  1960 Summer  1960  Summer            Roma
266399  Afghanistan  AFG  2016 Summer  2016  Summer  Rio de Janeiro
195908  Afghanistan  AFG  2004 Summer  2004  Summer          Athina
173930  Afghanistan  AFG  1956 Summer  1956  Summer       Melbourne
232004  Afghanistan  AFG  2004 Summer  2004  Summer          Athina
12534   Afghanistan  AFG  2008 Summer  2008  Summer         Beijing
161282  Afghanistan  AFG  1980 Summer  1980  Summer          Moskva
242306  Afghanistan  AFG  1956 Summer  1956  Summer       Melbourne
115193  Afghanistan  AFG  1960 Summer  1960  Summer            Roma
231444  Afghanistan  AFG  1960 Summer  1960  Summer            Roma
264047  Afghanistan  AFG  2008 Summer  2008  Summer         Beijing
56324   Afghanistan  AFG  1968 Summer  1968  Summer     Mexico City
49456   Afghanistan  AFG  1968 Summer  1968  Summer     Mexico City
173927  Afghanistan  AFG  1956 Summer  1956  Summer       Melbourne
88714   Afghanistan  AFG  1980 Summer  1980  Summer          Moskva
197782  Afghanistan  AFG  1988 Summer  1988  Summer           Seoul
57849   Afghanistan  AFG  1960 Summer  1960  Summer            Roma
168386  Afghanistan  AFG  1988 Summer  1988  Summer           Seoul
217294  Afghanistan  AFG  1964 Summer  1964  Summer           Tokyo
61067   Afghanistan  AFG  1968 Summer  1968  Summer     Mexico City
173929  Afghanistan  AFG  1948 Summer  1948  Summer          London
173928  Afghanistan  AFG  1948 Summer  1948  Summer          London
11629   Afghanistan  AFG  2012 Summer  2012  Summer          London

            Sport                                        Event Medal
166805   Football                    Football Women's Football   NaN
44496    Swimming       Swimming Women's 100 metres Backstroke   NaN
134169   Swimming          Swimming Men's 200 metres Freestyle   NaN
154314     Tennis                       Tennis Women's Doubles   NaN
162534   Swimming       Swimming Women's 200 metres Backstroke   NaN
162533   Swimming       Swimming Women's 100 metres Backstroke   NaN
169815   Football                    Football Women's Football   NaN
245268     Hockey                          Hockey Men's Hockey   NaN
174110  Athletics                Athletics Men's 10,000 metres   NaN
147238   Football                    Football Women's Football   NaN
63412    Football                    Football Women's Football   NaN
154507   Swimming          Swimming Men's 100 metres Butterfly   NaN
22759      Tennis                       Tennis Women's Singles   NaN
152043  Athletics           Athletics Men's 400 metres Hurdles   NaN
166350   Swimming       Swimming Women's 200 metres Backstroke   NaN
152044  Athletics         Athletics Men's 4 x 400 metres Relay   NaN
223838   Swimming  Swimming Men's 200 metres Individual Medley   NaN
227488     Rowing                 Rowing Women's Coxless Pairs   NaN
95943      Diving                   Diving Women's Springboard   NaN
262763   Swimming        Swimming Women's 100 metres Butterfly   NaN
134168   Swimming          Swimming Men's 100 metres Freestyle   NaN
134167   Swimming           Swimming Men's 50 metres Freestyle   NaN
154505   Swimming           Swimming Men's 50 metres Freestyle   NaN
260715     Diving                   Diving Women's Springboard   NaN
90896   Athletics                 Athletics Men's 1,500 metres   NaN
34168    Shooting                          Shooting Mixed Trap   NaN
154506   Swimming          Swimming Men's 100 metres Freestyle   NaN
79121      Rowing                 Rowing Women's Coxless Pairs   NaN
59079   Athletics                 Athletics Women's 100 metres   NaN
261574    Sailing              Sailing Mixed One Person Dinghy   NaN
...           ...                                          ...   ...
172810  Wrestling    Wrestling Men's Bantamweight, Greco-Roman   NaN
217793     Hockey                          Hockey Men's Hockey   NaN
217295  Wrestling      Wrestling Men's Welterweight, Freestyle   NaN
116793  Wrestling       Wrestling Men's Lightweight, Freestyle   NaN
1992     Football                      Football Men's Football   NaN
235028   Football                      Football Men's Football   NaN
257089  Athletics                Athletics Men's Javelin Throw   NaN
211855  Athletics                   Athletics Men's 400 metres   NaN
266399  Athletics                 Athletics Women's 100 metres   NaN
195908  Wrestling     Wrestling Men's Featherweight, Freestyle   NaN
173930     Hockey                          Hockey Men's Hockey   NaN
232004     Boxing                    Boxing Men's Welterweight   NaN
12534   Taekwondo                Taekwondo Men's Featherweight   NaN
161282     Boxing                   Boxing Men's Featherweight   NaN
242306     Hockey                          Hockey Men's Hockey   NaN
115193  Wrestling     Wrestling Men's Featherweight, Freestyle   NaN
231444  Wrestling       Wrestling Men's Heavyweight, Freestyle   NaN
264047  Athletics                 Athletics Women's 100 metres   NaN
56324   Wrestling      Wrestling Men's Bantamweight, Freestyle   NaN
49456   Wrestling      Wrestling Men's Middleweight, Freestyle   NaN
173927     Hockey                          Hockey Men's Hockey   NaN
88714   Wrestling      Wrestling Men's Bantamweight, Freestyle   NaN
197782  Wrestling   Wrestling Men's Light-Flyweight, Freestyle   NaN
57849   Wrestling      Wrestling Men's Welterweight, Freestyle   NaN
168386  Wrestling         Wrestling Men's Flyweight, Freestyle   NaN
217294  Wrestling      Wrestling Men's Welterweight, Freestyle   NaN
61067   Wrestling     Wrestling Men's Featherweight, Freestyle   NaN
173929     Hockey                          Hockey Men's Hockey   NaN
173928     Hockey                          Hockey Men's Hockey   NaN
11629   Athletics                   Athletics Men's 100 metres   NaN

[271116 rows x 15 columns]>